body{
    /*background-color: white;*/
    background-image: url("../img/lapiz.png");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1%;
}



form{
    background-color: white;
    -webkit-box-shadow: -16px 3px 197px -51px rgba(13,12,13,1);
    -moz-box-shadow: -16px 3px 197px -51px rgba(13,12,13,1);
    box-shadow: -16px 3px 197px -51px rgba(13,12,13,1);
}


.botones{
    text-align: center;
    background-color:  rgb(6, 7, 8);
    color: white;
    padding: 5%;
}

.contenido{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.titulo{
    text-align: center;
    background-color:  rgb(6, 7, 8);
    color: white;
    padding: 2%;
}

.boton{
    text-align: center;
}


.scrollTabla {
    width: 100%;
    height: 200px;
    overflow: scroll;
}

.scrollTabla::-webkit-scrollbar{
    width: 7px;
}

.scrollTabla::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 5px;
}

.scrollTablaPreguntas {
    width: 100%;
    height: 400px;
    overflow: scroll;
}

.scrollTablaPreguntas::-webkit-scrollbar{
    width: 7px;
}

.scrollTablaPreguntas::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 5px;
}

@media all and (max-width: 600px){
    a{
        width:100%;
        height:auto;
        margin:2px;
    }

    input{
        width:100%;
        height:auto;
        margin:2px;
    }
}

